@model BusinessLayer.Models.FriendListModelView

<div>
    <div>
        <form asp-area="" asp-controller="Friends" asp-action="Search">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Поиск" name="search">
            <input type="submit" value="Поиск"/>
        </form>
    </div>
    <div>
        @foreach (var user in Model.Users)
        {
            <div>
                <span>@user</span>
                <form asp-controller="Friends" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Добавить в друзья
                    </button>
                </form>
            </div>
        }
    </div>
</div>